// COLORS
$color-primary-dark: #f16718;
$color-primary-light: #ff9b62;

$color-secondary-dark: #162542;
$color-secondary-light: #7b8bad;

$color-grey-light: #e8eff2;

$color-white: #fff;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 118.8rem;
$gutter-horizontal: 3rem;
$gutter-columns: 3rem;

// PADDING
$body-px: 0 3.9rem;

// BREAKPOINTS
$bp-tab: 59em; // 944px Bigger Tablets
$bp-phone: 33.6em; // 537.6px Bigger Phones
